.comojogar-container {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comojogar-container li {
  padding: 1rem;
  margin-top: 1rem;
  border: 2px solid #07b7b6;
  border-radius: 12px;
  text-align: justify;
  background: #1c2126;
}

.comojogar-container p {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .comojogar-container h2 {
    font-size: 18px;
  }
}
