.game-container {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.game-container img {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-input {
  outline: none;
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: black;
  text-align: center;
  background: #fff;
  border: 2px solid #162225;
  border-radius: 40px;
  box-shadow: 0 1px 10px rgba(26, 245, 18, 0.15);
}

.game-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid green;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: "Roboto", sans-serif;
}
.game-button:hover {
  color: white;
  background: green;
}

.game-mensagem {
  margin-top: 1rem;
  font-weight: bold;
}

.suggestions-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  min-width: 150px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestions-list li:hover {
  color: yellow;
}

@media (max-width: 768px) {
  .game-button {
    background: green;
    color: white;
  }
}

.retry-button {
  margin: 1rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 150px;
  border-radius: 28px;
  background: red;
  border: 1px solid red;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: "Roboto", sans-serif;
}

.retry-button:hover {
  color: red;
  background: white;
}

.retry-button:hover p {
  color: red;
}

.retry-button p {
  color: white;
}

.tentativas-container {
  margin: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
